<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">GitHub Patcher<name> 
    <description lang="en">This modules allows creation, installing and uninstalling of patch via GitHub.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
        <maintainer> 
            <name>Geetakshi Batra</name> 
            <email>geetakshi.19@gmail.com</email> 
        </maintainer>
        <maintainer> 
            <name>Casian Olga</name> 
            <email></email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>BSD</license> 
    <release> 
        <state>stable</state> 
    </release> 
</module>