<?xml version="1.0" encoding="ISO-8859-1"?>
<module version="0.1"> 
    <name lang="en">GitHub Patcher</name>
    <description lang="en"></description> 
    <description lang="en"></description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>info@atutor.ca</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>BSD</license> 
    <release> 
        <version>0.8</version> 
        <date>2012-22-01</date> 
        <state>stable</state> 
        <notes></notes> 
    </release> 
</module>
